* {
    padding: 0;
    margin: 0;
}

div,
dl,
dt,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
ul,
li,
table,
th,
td,
p,
span,
a {
    border: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 625%;
}

body {
    font: 0.14rem "Microsoft YaHei";
}

.page_container {
    display: flex;
    flex-direction: column;
}

.top {
    position: relative;
    height: 0.6rem;
}

.top .logo {
    display: block;
    position: absolute;
    height: 0.36rem;
    width: 0.63rem;
    background: url(./images/logo.jpg) no-repeat;
    background-size: 100% 100%;
    left: 3.9rem;
    top: 0.14rem;
}

.top .links {
    position: absolute;
    line-height: 0.14rem;
    right: 3.9rem;
    top: 0.25rem;
}

.top .links a {
    text-decoration: none;
    color: #666666;
}

.banner_1 {
    height: 5rem;
    background: url(./images/banner.jpg) no-repeat;
    background-size: 100% 100%;
}

.banner_2 {
    background-color: #3671cf;
}

.banner_2 .meeting_top .meeting_topin {
    margin: 0.65rem auto;
    height: 0.5rem;
    width: 1.56rem;
    background: url(./images/Title_05.png) no-repeat;
    background-size: 100% 100%;
}

.banner_2 .meeting_content {
    display: flex;
    flex-direction: row;
}

.banner_2 .meeting_content .content_left {
    flex: 1;
    color: #ffffff;
}

.banner_2 .meeting_content .content_left .left_header {
    width: 5.5rem;
    line-height: 0.4rem;
    font-size: 0.24rem;
    margin-left: 3.82rem;
}

.banner_2 .meeting_content .content_left .small_one {
    display: block;
    width: 5.5rem;
    font-size: 0.14rem;
    line-height: 0.3rem;
    margin-left: 3.82rem;
    margin-top: 0.4rem;
}

.banner_2 .meeting_content .content_left .small_two {
    display: block;
    width: 5.5rem;
    font-size: 0.14rem;
    line-height: 0.3rem;
    margin-left: 3.82rem;
    margin-bottom: 0.8rem;
    margin-top: 0.4rem;
}

.banner_2 .meeting_content .content_left .small_two span {
    color: #ff9d00;
}

.banner_2 .meeting_content .content_right {
    flex: 1;
}

.banner_2 .meeting_content .content_right .right_pic {
    display: block;
    width: 5.5rem;
    height: 3.4rem;
    background: url(./images/video.jpg) no-repeat;
    background-size: 100% 100%;
    margin-left: 0.4rem;
}

.banner_2 .meeting_content .content_right .pic_header {
    width: 4.31rem;
    height: 0.3rem;
    margin-left: 0.4rem;
    margin-top: 0.35rem;
    line-height: 0.3rem;
    font-size: 0.24rem;
    color: #ffffff
}

.banner_2 .meeting_content .content_right .pic_text {
    width: 5.46rem;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
    color: #ffffff
}

.banner_3 {
    height: 3.1rem;
    background: url(./images/banner_01.jpg) no-repeat;
    background-size: 100% 100%;
}

.banner_4 .meeting_first {
    width: 11.4rem;
    margin: 0.63rem auto;
}

.banner_4 .meeting_second {
    width: 11.4rem;
    height: 2.09rem;
    margin: 0.63rem auto;
}

.banner_4 .meeting_three {
    width: 11.4rem;
    margin: 0.63rem auto;
}

.banner_4 .meeting_first .headerin {
    height: 0.32rem;
    width: 1.6rem;
    background: url(./images/Title_15.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.1rem 0 0.4rem 0.2rem;
}

.banner_4 .meeting_second .headerin {
    height: 0.32rem;
    width: 1.6rem;
    background: url(./images/Title_18.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.1rem 0 0.4rem 0.2rem;
}

.banner_4 .meeting_three .headerin {
    height: 0.32rem;
    width: 1.6rem;
    background: url(./images/Title_24.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.1rem 0 0.4rem 0.2rem;
}

.banner_4 .meeting_first .content p {
    margin: 0 0 0.2rem 0.2rem;
}

.banner_4 .meeting_second .timeline_box {
    width: 11.4rem;
    height: 0.12rem;
    position: relative;
    margin: 0 0 0 0.2rem;
}

.banner_4 .meeting_second .timeline_box .timeline {
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 100%;
    height: 1px;
    background-color: #1d4cb2;
    z-index: 1;
}

.banner_4 .meeting_second .timeline_box .timeline .order_item {
    position: absolute;
    z-index: 2;
    content: '';
    bottom: -0.06rem;
    left: -0.06rem;
    height: 0.12rem;
    width: 0.12rem;
    background: url(./images/img_21.png) no-repeat;
    background-size: 100% 100%;
}

.banner_4 .meeting_second .dateline_box {
    width: 11.4rem;
    height: 0.14rem;
    position: relative;
    margin: 0 0 0 0.2rem;
}

.banner_4 .meeting_second .dateline_box .date_line {
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 100%;
}

.banner_4 .meeting_second .dateline_box .date_line .date_item {
    position: absolute;
    color: #3671cf;
    bottom: 0.1rem;
    line-height: 0.14rem;
    height: 0.14rem;
    font-size: 0.14rem;
    transform: translate(-50%, -50%);
}

.banner_4 .meeting_second .metting_box {
    width: 11.4rem;
    height: 0.14rem;
    position: relative;
    margin: 0 0 0 0.2rem;
}

.banner_4 .meeting_second .metting_box .metting_line {
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 100%;
}

.banner_4 .meeting_second .metting_box .metting_line .metting_item {
    position: absolute;
    color: #3671cf;
    bottom: -0.3rem;
    line-height: 0.14rem;
    height: 0.14rem;
    font-size: 0.14rem;
    transform: translate(-50%, -50%);
}

.banner_4 .meeting_second .metting2_box {
    width: 11.4rem;
    height: 0.14rem;
    position: relative;
    margin: 0 0 0 0.2rem;
}

.banner_4 .meeting_second .metting2_box .metting2_line {
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 100%;
}

.banner_4 .meeting_second .metting2_box .metting2_line .metting2_item {
    position: absolute;
    color: #3671cf;
    bottom: -0.5rem;
    line-height: 0.14rem;
    height: 0.14rem;
    font-size: 0.14rem;
    transform: translate(-50%, -50%);
}

.banner_4 .meeting_second .metting3_box {
    width: 11.4rem;
    height: 0.14rem;
    position: relative;
    margin: 0 0 0 0.2rem;
}

.banner_4 .meeting_second .metting3_box .metting3_line {
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 100%;
}

.banner_4 .meeting_second .metting3_box .metting3_line .metting3_item {
    position: absolute;
    color: #3671cf;
    bottom: -0.7rem;
    line-height: 0.14rem;
    height: 0.14rem;
    font-size: 0.14rem;
    transform: translate(-50%, -50%);
}

.banner_4 .meeting_three .danwei {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0.2rem;
}

.banner_4 .meeting_three .one_row {
    display: flex;
    height: 0.48rem;
    line-height: 0.48rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0.2rem;
}

.banner_4 .meeting_three .one_row .item {
    height: 0.48rem;
    margin-right: 0.18rem;
    margin-bottom: 0.2rem;
}

.banner_5 {
    height: 4.04rem;
    background: url(./images/banner_02.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.banner_5 .meiti_header {
    flex: 1;
}

.banner_5 .meiti_header div {
    width: 1.6rem;
    height: 0.32rem;
    margin: 0.6rem auto;
    background: url(./images/img_66.png) no-repeat;
    background-size: 100% 100%;
}

.banner_5 .meiti_content {
    flex: 1;
}

.banner_5 .meiti_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_5 .meiti_content p {
    text-align: center;
    color: #ffffff;
}

.banner_5 .meiti_logs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner_5 .meiti_logs img {
    width: 2.8rem;
    height: 1rem;
    margin-bottom: 0.5rem;
}

.banner_6 {
    height: 10.43rem;
}

.banner_6 .project_header .headerin {
    margin: 0.6rem auto;
    height: 0.5rem;
    width: 3.54rem;
    background: url(./images/Title_90.png) no-repeat;
    background-size: 100% 100%;
}

.banner_6 .project_header .project_label {
    width: 11.4rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.banner_6 .project_header .project_label p {
    text-align: center;
    max-width: 11.4rem;
    color: #333333;
}

.banner_6 .project_cards {
    width: 11.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.banner_6 .project_cards .project_card {
    width: 3.5rem;
    height: 3.04rem;
    margin: 0 0.45rem 0.4rem 0;
}

.banner_6 .project_cards .project_card:hover .pic_title {
    color: #ffffff;
    background-color: #3671cf;
}

.banner_6 .project_cards .last_card {
    margin: 0 0 0.4rem 0;
}

.banner_6 .project_cards .project_card .pic {
    display: block;
    width: 3.5rem;
    height: 2.4rem;
}

.banner_6 .project_cards .project_card .pic img {
    width: 100%;
    height: 100%;
}

.banner_6 .project_cards .project_card .pic_title {
    display: block;
    width: 3.5rem;
    height: 0.64rem;
    padding-top: 0.1rem;
    border-bottom: #d5d5d5 solid 1px;
    border-left: #d5d5d5 solid 1px;
    border-right: #d5d5d5 solid 1px;
    text-align: center;
    font-size: 0.16rem;
    color: #333333;
}

.banner_6 .more {
    display: block;
    width: 1.2rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin: 0 auto;
    background-color: #ff9d00;
    border: 0;
    color: #ffffff;
    text-align: center;
}

.banner_7 {
    height: 10.27rem;
    background-color: #f9f9f9;
}

.banner_7 .machine_header .headerin {
    margin: 0.6rem auto;
    height: 0.5rem;
    width: 3.58rem;
    background: url(./images/Title_94.png) no-repeat;
    background-size: 100% 100%;
}

.banner_7 .machine_cards {
    width: 11.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.banner_7 .machine_cards .machine_card {
    width: 2.56rem;
    margin: 0 0.38rem 0.4rem 0;
}

.banner_7 .machine_cards .machine_card:hover .big_title {
    font-size: 0.2rem;
    text-align: center;
    color: #1d4cb2;
}

.banner_7 .machine_cards .machine_card:hover .small_title {
    font-size: 0.14rem;
    text-align: center;
    color: #1d4cb2;
}

.banner_7 .machine_cards .last_card {
    margin: 0 0 0.4rem 0;
}

.banner_7 .machine_cards .machine_card img {
    width: 2.56rem;
    height: 2.56rem;
}

.banner_7 .machine_cards .machine_card .big_title {
    font-size: 0.2rem;
    text-align: center;
    color: #333333;
}

.banner_7 .machine_cards .machine_card .small_title {
    margin-top: 0.1rem;
    font-size: 0.14rem;
    text-align: center;
    color: #333333;
}

.banner_7 .more {
    display: block;
    width: 1.2rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin: 0.4rem auto;
    background-color: #ff9d00;
    border: 0;
    color: #ffffff;
    text-align: center;
}

.banner_8 {
    height: 8.4rem;
    margin-top: 0.6rem;
}

.banner_8 .about_header p {
    margin: 0.6rem auto 0.18rem auto;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: #ff9d00;
    text-align: center;
    letter-spacing: 4px;
}

.banner_8 .small_text p {
    margin: 0 auto 0.18rem auto;
    height: 0.14rem;
    line-height: 0.14rem;
    font-size: 0.14rem;
    color: #333333;
    text-align: center;
}

.banner_8 .weixin {
    margin: 0 auto;
    height: 1.03rem;
    width: 1.22rem;
    background: url(./images/gai_03.png) no-repeat;
    background-size: 100% 100%;
}

.banner_8 .jieshao p {
    margin: 0.07rem auto 0.4rem auto;
    height: 0.14rem;
    line-height: 0.14rem;
    font-size: 0.14rem;
    color: #3671cf;
    text-align: center;
}

.banner_8 .big_pic {
    margin: 0 auto;
    height: 5rem;
    width: 11.4rem;
    background: url(./images/big_pic.png) no-repeat;
    background-size: 100% 100%;
}

.banner_9 {
    height: 7.26rem;
    background: url(./images/banner_03.jpg) no-repeat;
    background-size: 100% 100%;
}

.banner_9 .form_top .form_topin {
    margin: 0.6rem auto;
    height: 0.55rem;
    width: 2.37rem;
    background: url(./images/Title_102.png) no-repeat;
    background-size: 100% 100%;
}

.banner_9 .form {
    margin: 0 auto;
    width: 11.4rem;
}

.banner_9 .form .flex_form_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner_9 .form .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner_9 .form .submit-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner_9 .form .form-group .last_one {
    width: 3.6rem;
    height: 0.5rem;
    margin-bottom: 0.3rem;
}

.banner_9 .form .form-group .three_line {
    width: 3.6rem;
    height: 0.5rem;
    margin: 0 0.3rem 0.3rem 0;
}

.banner_9 .form .form-group select {
    width: 5.5rem;
    height: 0.5rem;
    background: transparent;
    border: #ffffff solid 1px;
}

.banner_9 .form .form-group select {
    width: 5.5rem;
    height: 0.5rem;
    background: transparent;
    border: #ffffff solid 1px;
    padding-left: 0.1rem;
    color: #ffffff;
    margin-bottom: 0.3rem;
}

.banner_9 .form .form-group optgroup {
    color: #000000;
}

.banner_9 .form .form-group option {
    color: #000000;
}

.banner_9 .form .form-group input {
    background: transparent;
    border: #ffffff solid 1px;
    padding-left: 0.1rem;
    color: #ffffff;
}

.banner_9 .form .form-group input::-webkit-input-placeholder {
    color: #ffffff;
}

.banner_9 .form .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
}

.banner_9 .form .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}

.banner_9 .form .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

.banner_9 .form .form-group textarea {
    width: 11.4rem;
    height: 1.6rem;
    background: transparent;
    border: #ffffff solid 1px;
    color: #ffffff;
    margin-bottom: 0.3rem;
    padding: 0.1rem 0 0 0.1rem;
}

.banner_9 .form .form-group textarea::-webkit-input-placeholder {
    color: #ffffff;
}

.banner_9 .form .form-group textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
}

.banner_9 .form .form-group textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}

.banner_9 .form .form-group textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

.banner_9 .form .submit-group button {
    width: 3.2rem;
    height: 0.42rem;
    background-color: #ff9d00;
    border: none;
    color: #ffffff;
}

.footer {
    height: 1.41rem;
    background-color: #3671cf;
    display: flex;
    flex-direction: column;
}

.footer .share_logos {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .weibo {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(./images/img_104.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.2rem 0.1rem;
}

.footer .txweibo {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(./images/img_106.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.2rem 0.1rem;
}

.footer .wx {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(./images/peng_03.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.2rem 0.1rem;
}

.footer p {
    flex: 1;
    text-align: center;
    color: #ffffff;
}